<style type="text/css" class="teste">
A:link { color: white; text-decoration: none; }
A:visited { color: gray; text-decoration: none; }
A:active { color: red; }A:hover {  text-decoration: underline; }
h1 { text-align: center; font-family: tahoma, arial, helvetica, sans-serif; }
body { background-color: #000000; color: #FFFFFF; font-family: tahoma, arial, helvetica, sans-serif; }
</style>